# Archivos y carpetas de sistema
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos y carpetas de WordPress
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/
wp-content/backups/

# Archivos y carpetas de dependencias
node_modules/
vendor/
composer.lock

# Archivos y carpetas de compilación
dist/
build/
.sass-cache/
*.css.map
*.js.map

# Archivos de ambiente local
.env
.env.*
!.env.example

# Archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos zip (versiones empaquetadas del plugin)
*.zip
